@import "./base.css";

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

li {
  list-style: none;
}

button {
  padding: 0.5rem 2cqi;
  font-size: clamp(1rem, 1cqi, 2rem);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  background-color: transparent;
}
button:disabled {
  background-color: transparent;
  border: none;
  opacity: 0.5;
}
button:hover {
  background-color: var(--color-link-hover);
  cursor: pointer;
}
button:disabled:hover {
  background-color: inherit;
  cursor: auto;
}
