@import "./base.css";

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text-accent);
  transition: 0.4s;
  padding: 3px;
}

li {
  list-style: none;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-link-hover);
  }
}
